<nav>
    <ul>
        <li>

            <a href="/">
                <h1>POKEDEX</h1>
            </a>

        </li>
        <li><a href="/signup">Cadastro</a></li>
        <li><a href="#cards">Pokemons</a></li>
        <li> <a href="#cards">Atualizar Pokemons</a></li>

    </ul>
</nav>