<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('./components/head') %>
</head>

<body>
    <%- include('./components/nav') %>

        <main>
            <section id="cadastro">


                <div>
      <h2>Cadastre um novo Pokemon!</h2>

                    <form action="/create" method="post">

                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome">

                        <label for="descricao">Descrição:</label>
                        <input type="text" id="descricao" name="descricao">

                        <label for="tipo">Tipo:</label>
                        <input type="text" id="tipo" name="tipo">

                        <label for="imagem">Link da imagem:</label>
                        <input type="text" id="imagem" name="imagem">

                        <label for="altura">Altura:</label>
                        <input type="text" id="altura" name="altura">

                        <label for="peso">Peso:</label>
                        <input type="text" id="peso" name="peso">

                        <label for="categoria">Categoria:</label>
                        <input type="text" id="categoria" name="categoria">

                        <label for="habilidade">Habilidade:</label>
                        <input type="text" id="hablidade" name="habilidade">

                        <button onclick="cadastro()" type="submit">Cadastrar</button>
                        <!-- <p class='msg-success'> Usuário Cadastrado com sucesso!</p> -->
                    </form>
                    <span id="ok"></span>
                </div>


            </section>

        </main>
        <footer>
            <%- include('./components/footer') %>
        </footer>

</body>

</html>